@import 'partials/doughnut';
@import 'partials/form';
@import 'partials/resources';


body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
}

canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
