<div class="container">
  <div class="row">
    <!-- Dropdown Structure -->
    <ul id='dropdown1' class='dropdown-content'>
      <li><a href="admin?filter=question">questions</a></li>
      <li><a href="admin?filter=topic">topics</a></li>
    </ul>
    <ul id='dropdown2' class='dropdown-content'>
      <li><a href="admin?type=type1">type1</a></li>
      <li><a href="admin?type=type2">type2</a></li>
      <li><a href="admin?type=type2">type3</a></li>
    </ul>
    <div class="section col s6 offset-s6">
      <h5>Analytics</h5>
    </div>
  </div>
  <div class="divider"></div>
  <div class="section">
    <a class='dropdown-button btn right' data-activates='dropdown2' >business type</a>
    <a class='dropdown-button btn right' data-activates='dropdown1' style="margin-right: 2px;">filter</a>
  </div>
  <span class="divider"></span>
  <div class="section">
    <div class="admin-chart-container">
      <svg class="admin-chart"></svg>
    </div>
  </div>
</div>
