<div id="home-modal" class="modal">
  <div class="modal-content">
    <h3 class="wc-header center-align">Welcome!</h3>
    <p>Thank you for registering with Wales Co-op.</p>
    <p>You will now be asked to answer a short series of questions that will help us provide you with resources most suited to your needs. Your responses will be saved, so feel free to stop and start at any point.</p>
  </div>
  <div class="modal-footer">
    <div class="modal-action modal-close waves-effect waves-green btn-flat">
      Let's go!
    </div>
  </div>
</div>

<div class="container">
  <hr />
</div>

<div class="container question-container">
  <h4 class="question-text wc-header"></h4>
  <div class="question-button-wrapper" style="display: none;">
    <button class="question-button waves-effect waves-light btn" id="question-button-yes">Yes</button>
    <button class="question-button waves-effect waves-light btn" id="question-button-no">No</button>
  </div>
</div>

<div class="container question-chart-container">
  <div class="row">
    <div class="col s12">
      <div class="card" style="margin-top: 50px;">
        <div class="card-content center-align">
          <svg class="question-chart"></svg>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container resources-container" style="display: none;">
  <div class="row">
    <div class="col s12">
      <h3></h3>
      <hr style="margin-bottom: 30px;" />
      <ul class="collapsible popout" data-collapsible="accordion" id="resources-list">
      </ul>
    </div>
  </div>
</div>
