<div id="container" style="margin-top: 50px">
  <div class="row">
    <h3 class="center-align wc-header">
      Just a few details...
    </h3>
    <form id="register-form" class="col s12" method="post" action="/api/businesses">
      <div class="row">
        <div class="input-field col s6 offset-m3">
          <input id="register-username" name="username" type="text" maxlength="50" class="validate" required>
          <label for="register-username" data-error="Invalid username">Username</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6 offset-m3">
          <input id="register-password" name="password" type="password" maxlength="17" class="validate" required>
          <label for="register-password" data-error="Invalid password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6 offset-m3">
          <input id="register-confirm-password" name="confirmPassword" maxlength="17" type="password" class="validate" required>
          <label for="register-confirm-password" data-error="Invalid password">Confirm password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6 offset-m3">
          <input id="register-name" type="text" name="name" maxlength="100" class="validate" required>
          <label for="register-name" data-error="Invalid name">Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6 offset-m3">
          <input id="register-address" type="text" name="address" maxlength="150" class="validate" required>
          <label for="register-address" data-error="Invalid address">Address</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6 offset-m3">
          <select id="register-type" name="type" required>
            <option value="" disabled selected>Select type</option>
            <option value="type1">Type 1</option>
            <option value="type2">Type 2</option>
            <option value="type3">Type 3</option>
          </select>
          <label for="register-type">Business type</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6 offset-m3">
          <select id="register-sector" name="sector" required>
            <option value="" disabled selected>Select sector</option>
            <option value="sector1">Sector 1</option>
            <option value="sector2">Sector 2</option>
            <option value="sector3">Sector 3</option>
          </select>
          <label for="register-sector">Sector</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6 offset-m3">
          <input id="register-contact" name="contact" type="text" maxlength="100" class="validate" required>
          <label for="register-contact" data-error="Invalid name">Name of contact</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6 offset-m3">
          <input id="register-telephone" name="telephone" type="tel" maxlength="15" class="validate" required>
          <label for="register-telephone" data-error="Invalid telephone number">Telephone</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6 offset-m3">
          <input id="register-email" type="email" name="email" maxlength="254" class="validate" required>
          <label for="register-email" data-error="Invalid email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6 offset-m3">
          <select id="register-help-before" name="helpBefore" required>
            <option value="" disabled selected>Select how soon</option>
            <option value="1">1 Week</option>
            <option value="4">1 Month</option>
            <option value="24">6 Months</option>
            <option value="48">12 Months</option>
            <option value="0">Never</option>
          </select>
          <label for="register-help-before">I am seeking support in...</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6 offset-m3">
          <button class="btn waves-effect waves-light left" type="submit">
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
