.svg__toolTip {
  position: absolute;
  background: none repeat scroll 0 0 white;
  border: 0 none;
  border-radius: 8px 8px 8px 8px;
  box-shadow: -3px 3px 15px #888888;
  color: black;
  font: 12px sans-serif;
  padding: 5px;
  text-align: center;
  visibility: hidden;
  z-index: 10;
}

.svg__chart {
  padding:5%;
}

.svg {
  display:block;
  margin: 0 auto; 
}
