.doughnut-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: center;
  padding-top: 1%; }
  @media (min-width: 1000px) {
    .doughnut-container {
      flex-direction: row;
      align-items: stretch; } }

#canvas-holder {
  width: 60%;
  padding-left: 6%;
  padding-right: 6%; }
  @media (min-width: 1000px) {
    #canvas-holder {
      width: 38%; } }

.question-form {
  height: 13em;
  position: relative;
  padding: 0.5em 2em;
  color: white; }
  @media (min-width: 800px) {
    .question-form {
      height: 14em; } }
  .question-form h2 {
    margin: 0.3em 0 0 0;
    padding: 0;
    font-weight: 300;
    font-size: 1.6em; }
    @media (min-width: 600px) {
      .question-form h2 {
        font-size: 2.2em; } }
    @media (min-width: 800px) {
      .question-form h2 {
        font-size: 2.4em; } }
    @media (min-width: 1000px) {
      .question-form h2 {
        font-size: 2.8em; } }
  .question-form h3 {
    margin: 0.5em 0 0 0;
    padding: 0;
    font-weight: 300; }
  .question-form ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  .question-form li {
    display: block; }
  .question-form input[type=radio] {
    display: none; }
  .question-form input[type=radio] + label {
    display: inline-block;
    height: 40px;
    margin: 5px;
    vertical-align: middle;
    cursor: pointer;
    opacity: 0.6; }
  .question-form input[type=radio], .question-form label::before {
    content: ''; }
  .question-form input[type=radio]:checked + label {
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out; }
  .question-form label {
    font-weight: 100;
    font-size: 1.8em; }
    @media (max-width: 800px) {
      .question-form label {
        font-size: 1.4em; } }
  .question-form hr {
    display: block;
    border: 0;
    border-top: 1px solid white;
    padding: 0; }

.question-hidden, .question-end {
  display: none; }

.question-form-section-default {
  background-color: #E72B37; }

.question-form-section-1 {
  background-color: #46BFBD; }

.question-form-section-2 {
  background-color: #FDB45C; }

.question-form-section-3 {
  background-color: #949FB1; }

.question-form-section-4 {
  background-color: #4D5360; }

.question-button-wrapper {
  position: absolute;
  bottom: 1em; }

.question-button {
  background-color: rgba(255, 0, 0, 0);
  border: 2px solid white;
  cursor: pointer;
  color: white;
  font-weight: 300;
  font-size: 1em;
  padding: 0.2em 1.5em;
  margin-right: 0.8em; }
  .question-button:focus {
    outline: none; }
  @media (min-width: 800px) {
    .question-button {
      font-size: 1.4em; } }

#content-holder {
  width: 50%;
  padding: 0% 2% 2% 2%; }
  #content-holder h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
    padding-left: 2%; }
  #content-holder a {
    font-size: 1.4em; }
  #content-holder p {
    margin-top: 0.4em;
    line-height: 1.2;
    color: #212121; }
  @media (max-width: 1000px) {
    #content-holder {
      text-align: center; } }

.content {
  padding: 2%; }

.before-you-start-a-social-business a, .before-you-start-a-social-business h2 {
  color: #E72B37; }

.starting-a-social-business a, .starting-a-social-business h2 {
  color: #46BFBD; }

.running-a-social-business a, .running-a-social-business h2 {
  color: #FDB45C; }

.growing-a-social-business a, .growing-a-social-business h2 {
  color: #949FB1; }

.case-studies a, .case-studies h2 {
  color: #4D5360; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

canvas {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none; }
