html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-width: 320px;
}

hr {
  border: 0;
  height: 1px;
  border-top: 1px solid darkgrey;
  background-color: darkgrey;
  color: darkgrey;
}

.wc-header {
  line-height: 1.2em;
  color: #333;
  font-weight: 100;
  margin-bottom: 30px;
  margin-top: 35px;
  letter-spacing: 0;
}

.question-chart {
  height: 350px;
  width: 100%;
  position: relative;
}

.question-chart .axis {
  font: 15px sans-serif;
}

.question-chart .axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.question-chart .axis text {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.question-chart .listener {
  cursor: pointer;
}

