html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-width: 320px;
}

.wc-header {
  line-height: 1.2em;
  color: #333;
  font-weight: 100;
  margin-bottom: 30px;
  margin-top: 35px;
  letter-spacing: 0;
}

.section h5 {
  margin: 0 auto;
}
