html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-width: 320px;
}

.wc-header {
  line-height: 1.2em;
  color: #333;
  font-weight: 100;
  margin-bottom: 30px;
  margin-top: 35px;
  letter-spacing: 0;
}

.question-chart-container {
}

.question-chart {
  width: 70%;
  height: 100%;
  max-height: 400px;
  position: absolute;
}

.question-chart .axis {
  font: 15px sans-serif;
}

.question-chart .axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.question-chart .bar {
  fill: steelblue;
  fill-opacity: 0.9;
}
