<div class="container" style="margin-top: 50px">
  <div class="row">
    <form class="col s12" method="post" action="/login">
      <div class="row">
        <div class="input-field col s6 offset-m3">
          <input id="login-username" name="username" type="text" class="validate" required>
          <label for="login-username" data-error="Invalid username">Username</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6 offset-m3">
          <input id="login-password" type="password" class="validate" required>
          <label for="login-password" data-error="Invalid password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6 offset-m3">
          <button class="btn waves-effect waves-light left" type="submit">
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
