<form class="col s12" method="post" action="/login">
        <div class="row">
          <div class="input-field col s6 offset-m3">
            <input value="companyName" id="companyName" type="text" class="validate">
            <label class="active" for="companyName"> userId</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6 offset-m3">
            <input value="businessAddress" id="businessAddress" type="text" class="validate">
            <label class="active" for="businessAddress"> password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6 offset-m3">
            <a class='dropdown-button btn' href='#' data-activates='dropdown1'>Business type</a>
          </div>
          <ul id='dropdown1' class='dropdown-content'>
            <li><a href="#!">one</a></li>
            <li><a href="#!">two</a></li>
            <li class="divider"></li>
            <li><a href="#!">three</a></li>
          </ul>
        </div>
        <div class="row">
          <div class="input-field col s6 offset-m3">
            <a class='dropdown-button btn' href='#' data-activates='dropdown2'>Business Sector</a>
          </div>
          <ul id='dropdown2' class='dropdown-content'>
            <li><a href="#!">one</a></li>
            <li><a href="#!">two</a></li>
            <li class="divider"></li>
            <li><a href="#!">three</a></li>
          </ul>
        </div>
        <div class="row">
          <div class="input-field col s6 offset-m3">
            <input value="keyContactPerson" id="keyContactPerson" type="text" class="validate">
            <label class="active" for="keycontact"> key contact person</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6 offset-m3">
            <input value="keyContactNumber" id="keyContactNumber" type="text" class="validate">
            <label class="active" for="keycontactNumber"> key contact number</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6 offset-m3">
            <input value="keyContactEmail" id="keyContactEmail" type="text" class="validate">
            <label class="active" for="keyContactEmail"> key contact email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6 offset-m3">
            <a class='dropdown-button btn' href='#' data-activates='dropdown3'>Timeframe</a>
          </div>
          <ul id='dropdown3' class='dropdown-content'>
            <li><a href="#!">one</a></li>
            <li><a href="#!">two</a></li>
            <li class="divider"></li>
            <li><a href="#!">three</a></li>
          </ul>
        </div>
        <div class="row">
          <div class="input-field col s6 offset-m3">
            <button class="btn waves-effect waves-light left" type="submit" name="action">Submit
              <i class="material-icons "></i>
          </div>
            </button>
        </div>
    </div>
      </form>

