.doughnut-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: center;
  padding-top: 1%;
  @media (min-width: 1000px) {
    flex-direction: row;
    align-items: stretch;
  }
}

#canvas-holder {
  width: 90%;
  // border-right: #E72B37 solid 5px;
  padding-left: 6%;
  padding-right: 6%;
  @media (min-width: 600px) {
    width: 60%;
  }
  @media (min-width: 1000px) {
    width: 38%;
  }
}

.doughnut-placeholder {
  font-weight: 300;
  margin-top: 1em;
  margin-left: 1.1em;
  font-size: 1.6em;
  z-index: -1;
  position: absolute;
  @media (min-width: 600px) {
    font-size: 1.8em;
  }
  @media (min-width: 1000px) {
    font-size: 2em;
  }
  @media (max-width: 800px) {
    text-align: center;
    margin: 1em 15%;
  }
}
