.doughnut-container {
  width: 96%;
  display: flex;
  padding: 2%;
}

#canvas-holder {
  width: 45%;
}

.doughnut-container {
  width: 96%;
  display: flex;
  padding: 2%;
}

#canvas-holder {
  width: 45%;
}
