.question-form {
  height: 13em;
  padding: 0.5em 2em;
  color: white;
  display: flex;
  flex-direction: column;
  @media (min-width: 800px) {
    height: 14em;
  }
  @media (max-width: 1000px) {
    text-align: center;
  }

  h2 {
    margin: 0.3em 0 0 0;
    padding: 0;
    font-weight: 300;
    font-size: 1.6em;
    @media (min-width: 600px) {
      font-size: 2.2em;
    }
    @media (min-width: 800px) {
      font-size: 2.4em;
    }
    @media (min-width: 1000px) {
      font-size: 2.8em;
    }
  }

  h3 {
    margin: 0.5em 0 0 0;
    padding: 0;
    font-weight: 300;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: block;
  }

  input[type=radio] {
    display: none;
  }

  input[type=radio] + label {
    display: inline-block;
    height: 40px;
    margin: 5px;
    vertical-align: middle;
    cursor: pointer;
    opacity: 0.6;
  }

  input[type=radio], label::before {
    content: '';
  }

  input[type=radio]:checked + label {
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
  }

  label {
    font-weight: 100;
    font-size: 1.8em;
    @media (max-width: 800px) {
      font-size: 1.4em;
    }
  }

  hr {
    display: block;
    border: 0;
    border-top: 1px solid white;
    padding: 0;
  }
}

.question-hidden, .question-end {
  display: none;
}

.question-form-section-default {
  background-color: #E72B37;
}

.question-form-section-1 {
  background-color: #46BFBD;
}

.question-form-section-2 {
  background-color: #FDB45C;
}

.question-form-section-3 {
  background-color: #949FB1;
}

.question-form-section-4 {
  background-color: #4D5360;
}

.question-button-wrapper {
  position: absolute;
  bottom: 1em;
  align-self: flex-end;
  @media (max-width: 1000px) {
    left: 38%;
  }
}

.question-button {
  background-color: rgba(255, 0, 0, 0);
  border: 2px solid white;
  cursor: pointer;
  color: white;
  font-weight: 300;
  font-size: 1em;
  padding: 0.2em 1.5em;
  margin-right: 0.8em;
  &:focus {
    outline: none;
  }
  @media (min-width: 800px) {
    font-size: 1.4em;
  }
}
